[buildout]
eggs-directory = /var/local/buildout-eggs-directory
download-cache = /var/local/buildout-download-cache
extends-cache = /var/local/buildout-extends-cache
extends =
    http://eggshop.eaudeweb.ro/versions/zope-2.13.13.cfg
parts =
    zope-instance
    docs-builder
    make-docs
    clean-docs
find-links =
    http://eggshop.eaudeweb.ro
versions = versions
newest = false
_src = ${:directory}/src
develop =
    ${:_src}/Products.Reportek


[zope-instance]
recipe = plone.recipe.zope2instance
effective-user = zope
user = admin:admin
http-address = 46505
products = products
eggs =
    edw-cookiecrumbler
    collective.codemirror
    Products.ZMIntrospection
    Products.Reportek
    python-ldap
    Products.PluggableAuthService
    Products.LDAPMultiPlugins
zcml =
    collective.codemirror


[docs-builder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:_src}/Products.Reportek/docs
build = ${buildout:directory}/var/docs
eggs =
    Zope2
    ${zope-instance:eggs}
    repoze.sphinx.autointerface


[make-docs]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash -ex
    ${buildout:directory}/bin/sphinx-build -b html \
        -d ${docs-builder:build}/doctrees \
        ${docs-builder:source} \
        ${docs-builder:build}/html
output = ${buildout:directory}/bin/make-docs
mode = 755


[clean-docs]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash -ex
    rm -rf ${docs-builder:build}/doctrees
    rm -rf ${docs-builder:build}/html
output = ${buildout:directory}/bin/clean-docs
mode = 755


[versions]
plone.recipe.zope2instance = 4.2
zc.buildout = 1.4.4-edw1
#Products.LDAPUserFolder = 2.9 # only for upgrade script to PAS
